<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="ja">
<head>
    {% include "components/html_head.html" %}
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        {% include "components/menubar.html" %}

        <main class = "col-10" >
            <div class = "container p-3" id = "content">
                <div class = "row">
                    <div class="text-center" id = "status">
                        <div class="spinner-border text-primary" role="status" style="width: 6rem; height: 6rem;">
                            <span class="visually-hidden">Loading...   </span>
                        </div>
                    </div>
                    <div class = "text-center">
                        送信された内容を処理中です
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<form action="{% url 'check_goal' goal_id %}" method="post" id="check">
    {% csrf_token %}
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>

    async function check_goal() {
        const form = document.getElementById('check')
        const formData = new FormData(form);
        try{
            let res = await fetch(form.action,{
                method: 'POST',
                body: formData
                });
            let data = await res.json();
            if(data.is_created === true){
                if(data.inappropriate_flag === true){
                    document.getElementById("status").innerText = "利用規約に違反した内容のため作成できません。"
                }else{
                   window.location.href = data.next
                }
                }
            else{
                console.log('creating');
            }
            }catch(e){
                console.error(e);
                document.getElementById("status").innerText = "作成に失敗しました。"
                clearInterval(task);
            }
        
    }
    const task = setInterval(check_goal, 1000)
</script>
</body>
</html>