<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="ja">
<head>
    {% include "components/html_head.html" %}
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        {% include "components/menubar.html" %}

        <main class = "col-12 col-lg-10" >
            <div class = "container p-3" id = "content">
                <div class = "row">
                    <div class="alert alert-danger col-3 mx-auto my-3 text-center">
                        <i class="bi bi-x-circle-fill fs-2"></i><br>
                        不正な操作です。
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>