<!doctype html>
{% load static %}
{% load custom_tags %}
<html lang="ja">
<head>
    {% include "components/html_head.html" %}
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        {% include "components/menubar.html" %}
        <main class = "col-10" >
            <div class = "container p-3" id = "content">
                <div class="row m-4 py-3 border-bottom border-success text-success">
                    <h4>目標一覧</h4>
                </div>
                <div class = "row m-3">
                    <table class = "table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">タイトル</th>
                            <th scope="col">作成日時</th>
                            <th scope="col">完了日時</th>
                            <th scope="col"> ステータス </th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for goal in goals %}
                            <tr>
                                <th scope="row">{{goal.title}}</th>
                                <td>{{goal.start_date}}</td>
                                <td>
                                    {% if goal.end_date %}
                                    {{goal.end_date}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if goal.task_creating %}
                                    {% check_task_all_done goal %}
                                    {% else %}
                                    <i class="bi bi-dash fs-2 "></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            操作
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{% url 'goal_display' goal.goal_id %}" class="dropdown-item bg-success text-white"> 閲覧 </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'goal_delete' goal.goal_id %}" class="dropdown-item bg-danger text-white"> 削除 </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">

                            {% for num in pages %}
                            {% if current is num %}
                            <button type="button" class="btn btn-primary">{{num}}</button>
                            {% else %}
                            <a type="button" class="btn btn-outline-primary" href="{% url 'goal_list' %}?page={{num}}">{{num}}</a>
                            {% endif %}
                            {% endfor %}
                        </div>

                    <a></a>

                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>