<!doctype html>
{% load static %}
<html lang="ja">
<head>
    {% include "components/html_head.html" %}
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        {% include "components/menubar.html" %}

        <main class = "col-10" >
            <div class = "container p-3 " id = "content">
                <div class="row m-3 py-3">
                    <div class="p-3 border-bottom border-success text-success">
                        <h4>おまかせTodoリストとは</h4>
                    </div>
                    <div class="row p-3">
                        <div class="col-9">
                            実現したいこと、やってみたい事があっても何から初めたらいいのかわからないことはありませんか？<br>
                            達成したい目標を決めることで必要なタスクをAIが自動で立ててくれます<br>
                            やりたいことをリスト化して実現につなげましょう
                        </div>
                        <div class="col-3">
                            <i class="bi bi-calendar-check fs-xl"></i>
                        </div>
                    </div>
                </div>
                <div class="row m-4 py-3">
                    <div class="p-3 border-bottom border-success text-success">
                        <h4>はじめかた</h4>
                    </div>
                    <div class="p-3">
                        <div class="row p-2 col-8 border-bottom border-secondary text-secondary">
                            <h5>1.新しい目標を作成 </h5>
                        </div>
                        <div class="row p-2">
                            左側にあるメニュー内の「新規目標作成」から達成したい目標を入力してください
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="row p-2 col-8 border-bottom border-secondary text-secondary">
                            <h5>2.タスク作成を依頼 </h5>
                        </div>
                        <div class="row p-2">
                            左側にあるメニュー内の「目標一覧」から達成したい目標の「操作」から「閲覧」を選択し<br>
                            移動先の画面内の「タスク一覧へ」に進むと、タスク作成を依頼することができます<br>
                            ボタンを押下すると、AIが適したタスクを自動で作成します
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="row p-2 col-8 border-bottom border-secondary text-secondary">
                            <h5>3.タスクをこなす </h5>
                        </div>
                        <div class="row p-2">
                            タスク一覧から各タスクを閲覧し、開始日を決めましょう。開始日を決めるとステータスが変化します<br>
                            すべてのタスクを完了したら、目標を達成済みに変更しましょう<br>
                            タスクに関して詳しい情報が必要な場合は、詳細画面にて「アシスト」ボタンを用いることで更に詳しい情報を入手できます
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>