<!doctype html>
{% load static %}
<html lang="ja">
<head>
    {% include "components/html_head.html" %}
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        {% include "components/menubar.html" %}

        <main class = "col-10" >
            <div class = "container p-3" id = "content">
                <div class="row m-4 py-3 border-bottom border-success text-success">
                    <h4>{{goal.title}}: タスク一覧</h4>
                </div>
                {% if task_len <= 0 %}
                {% if goal.task_creating %}
                <div class = "row">
                    <div class="text-center" id = "status">
                        <div class="spinner-border text-primary" role="status" style="width: 6rem; height: 6rem;">
                            <span class="visually-hidden">Loading...   </span>
                        </div>
                    </div>
                    <div class = "text-center">
                        タスクを作成中です<br>
                        もし、しばらく経っても作成されない場合は、管理者へお問い合わせください
                    </div>
                    <form action="{% url 'check_task_create' goal.goal_id %}" id="check_task_create">
                        {% csrf_token %}
                    </form>
                    <script>
                        async function check_goal() {
                        const form = document.getElementById('check_task_create')
                        const formData = new FormData(form);
                        try{
                            let res = await fetch(form.action,{
                                method: 'POST',
                                body: formData
                                });
                            let data = await res.json();
                            if(data.is_created === true){
                                    window.location.reload();
                                }
                            }catch(e){
                                console.error(e);
                                document.getElementById("status").innerText = "ネットワークがオフラインです"
                                clearInterval(task);
                            }
                    }
                    const task = setInterval(check_goal, 1500)
                    </script>
                </div>
                {% else %}
                <div class="row m-3 ">
                    <div class="col alert alert-success text-center">
                        まだタスクが作成されていません。
                        <a class="btn btn-success m-2" href="{% url 'create_task' goal.goal_id %}">
                            タスク作成を依頼する
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% if task_done_set %}
                    <div class="d-flex justify-content-center">
                    <div class="alert alert-success m-4 col-3  text-center">
                            <i class="bi bi-database-check fs-2"></i>
                            保存が完了しました
                    </div>
                </div>
                {% endif %}
                <div class = "row m-3">
                    <table class = "table">
                        <thead>
                        <tr>
                            <th scope="col">ステータス</th>
                            <th scope="col">タスク名</th>
                            <th scope="col">開始日</th>
                            <th scope="col">優先度</th>
                            <th scope="col"> 操作 </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            <tr>
                                <th scope="row">
                                    <div class="d-flex justify-content-center">
                                        {% if task.done_flag %}
                                        <i class="bi bi-check-circle fs-3 text-success"></i>
                                        {% else %}
                                        {% if task.start_date %}
                                        <i class="bi bi-pencil text-danger fs-3"></i>
                                        {% else %}
                                        <i class="bi bi-dash-circle fs-3 text-secondary"></i>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </th>
                                <td>{{task.title}}</td>
                                <td >
                                    <div class="d-flex justify-content-center">
                                       {% if task.start_date %}
                                        {{task.start_date}}
                                        {% else %}
                                        <i class="bi bi-calendar-minus fs-3"></i>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{task.priority}}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            操作
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{% url 'task_display' goal_id=goal.goal_id task_id=task.task_id %}" class="dropdown-item bg-success text-white"> 閲覧 </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'task_done' goal_id=goal.goal_id task_id=task.task_id %}" class="dropdown-item bg-info text-white"> 完了としてマーク </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row d-flex justify-content-center m-4">
                    <a class="btn btn-primary col-2" href="{% url 'goal_list' %}">
                            一覧へ戻る
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>