<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="ja">
<head>
    {% include "components/html_head.html" %}
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        {% include "components/menubar.html" %}

        <main class = "col-12 col-lg-10" >
            <div class = "container p-3" id = "content">
                <div class="row m-4 py-3 border-bottom border-success text-success">
                    <h4>{{goal.title}} -> [{{task.title}}] タスク詳細</h4>
                </div>
                {% if saved %}
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success m-4 col-6 col-lg-3  text-center">
                            <i class="bi bi-database-check fs-2"></i>
                            保存が完了しました
                    </div>
                </div>
                {% endif %}
                <div class = "row m-3">
                    <form action="{% url 'task_display' goal_id=goal.goal_id task_id=task.task_id %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success col-3 col-lg-2  mx-auto">更新する</button>
                            <a class="btn btn-info col-3 col-lg-2 mx-auto text-white" href="{% url 'task_help_display' goal_id=goal.goal_id task_id=task.task_id%}">
                            アシスト
                            </a>
                            <a class="btn btn-primary col-3 col-lg-2 mx-auto" href="{% url 'task_list' goal.goal_id %}">
                            一覧へ戻る
                            </a>
                        </div>
                    </form>

                </div>
                <div class="row d-flex justify-content-center m-4">

                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>