{% load static %}
<nav class = "col-2 px-0 d-none d-lg-block menubar">
    <div class = "container py-2">
        <div class = "row py-2">
            <div class="text-center mb-3">
                <img src="{% static 'main/src/omakaseTodo_logo.png' %}" height="70px" width="70px" alt="logo">
            </div>
            <h4 class = "text-center">
                <a href="{% url 'index' %}"><b>おまかせTodoリスト</b></a>
            </h4>
        </div>
        <div class = "row py-2">
            {% if async_func %}
            {% if user.is_authenticated %}
            <div class="text-center mb-3">
                ようこそ {{user.username}} さん
            </div>
            <ul class=" px-0">
                <li>
                    <a href="{% url 'create_goal' %}">
                    <div class="p-4 menu_item" >
                        新規目標作成
                    </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'goal_list' %}">
                    <div class="p-4 menu_item" >
                        目標一覧
                    </div>
                    </a>
                </li>
                <li>
                    <div class="p-4 menu_item" onclick="logout()">
                        ログアウト
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class=" px-0">
                <li>
                    <a href="{% url 'signup' %}">
                    <div class="p-4 menu_item" >
                        アカウント作成
                    </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                    <div class="p-4 menu_item">
                        ログイン
                    </div>
                    </a>
                </li>
            </ul>

            {% endif %}

            {% else %}
            {% if request.user.is_authenticated %}

            <div class="text-center mb-3">
                ようこそ {{request.user.username}} さん
            </div>
            <ul class=" px-0">
                <li>
                    <a href="{% url 'create_goal' %}">
                    <div class="p-4 menu_item" >
                        新規目標作成
                    </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'goal_list' %}">
                    <div class="p-4 menu_item" >
                        目標一覧
                    </div>
                    </a>
                </li>
                <li>
                    <div class="p-4 menu_item" onclick="logout()" >
                        ログアウト
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class=" px-0">
                <li><a href="{% url 'signup' %}">
                    <div class="p-4 menu_item" >
                        アカウント作成
                    </div>
                </a>
                </li>
                <li><a href="{% url 'login' %}">
                    <div class="p-4 menu_item">
                        ログイン
                    </div></a>
                </li>
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
<form method="post" action="{% url 'logout' %}" id = "logout" hidden>
                {% csrf_token %}
            </form>
            <script>
                function logout(){
                    document.getElementById("logout").submit()
                }
            </script>

<nav class = "col px-0 d-block d-lg-none menubar-mobile" >
    <div class = "container py-2">
        <div class = "row py-2">
            <div class="text-center mb-3">
                <img src="{% static 'main/src/omakaseTodo_logo.png' %}" height="70px" width="70px" alt="logo">
            </div>
            <h4 class = "text-center">
                <a href="{% url 'index' %}"><b>おまかせTodoリスト</b></a>
            </h4>
        </div>
        <div class = "row py-2">
            {% if async_func %}
            {% if user.is_authenticated %}
            <div class="text-center mb-3">
                ようこそ {{user.username}} さん
            </div>
            <ul class=" px-0">
                <li>
                    <a href="{% url 'create_goal' %}">
                    <div class="p-4 menu_item" >
                        新規目標作成
                    </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'goal_list' %}">
                    <div class="p-4 menu_item" >
                        目標一覧
                    </div>
                    </a>
                </li>
                <li>
                    <div class="p-4 menu_item" onclick="logout()">
                        ログアウト
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class=" px-0">
                <li>
                    <a href="{% url 'signup' %}">
                    <div class="p-4 menu_item" >
                        アカウント作成
                    </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                    <div class="p-4 menu_item">
                        ログイン
                    </div>
                    </a>
                </li>
            </ul>

            {% endif %}

            {% else %}
            {% if request.user.is_authenticated %}

            <div class="text-center mb-3">
                ようこそ {{request.user.username}} さん
            </div>
            <ul class=" px-0">
                <li>
                    <a href="{% url 'create_goal' %}">
                    <div class="p-4 menu_item" >
                        新規目標作成
                    </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'goal_list' %}">
                    <div class="p-4 menu_item" >
                        目標一覧
                    </div>
                    </a>
                </li>
                <li>
                    <div class="p-4 menu_item" onclick="logout()" >
                        ログアウト
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class=" px-0">
                <li><a href="{% url 'signup' %}">
                    <div class="p-4 menu_item" >
                        アカウント作成
                    </div>
                </a>
                </li>
                <li><a href="{% url 'login' %}">
                    <div class="p-4 menu_item">
                        ログイン
                    </div></a>
                </li>
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>
</nav>

